.DS_Store
.env
.pytest_cache/
__pycache__/
*.pyc
captures/
image/
test_captures/
build/
dist/
vendor/platform-tools/*
!vendor/platform-tools/darwin/
!vendor/platform-tools/darwin/**
!vendor/platform-tools/win32/
!vendor/platform-tools/win32/**
vendor/appium-home/
vendor/appium-home.zip
node_modules/
python/.venv/
python/build/
python/dist/
vendor/u2-runtime/
vendor/scrcpy/
